*{
    padding: 0px;
    margin: 0px;
}

hr{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

body{
    padding-top: 10px;
    text-align: center;
}

button{
    padding: 2px 2px;
    margin: 5px 5px;
}

#rules{
    line-height: 25px;
    word-spacing: 2px;
    padding-bottom: 10px;
}

.warning-text{
    color: red;
}

.success-text{
    color: green;
}