*{
    padding: 0px;
    margin: 0px;
}

hr{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

h3{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding-bottom: 25px;
}
body{
    text-align: center;
}

button{
    padding: 2px 2px;
    margin: 5px 5px;
}

label{
    display: block;
    margin-bottom: 15px;
}

#rules{
    line-height: 25px;
    word-spacing: 2px;
    padding-bottom: 10px;
}

.warning-text{
    color: red;
}

.success-text{
    color: green;
}

.header{
    padding-top: 10px;
    padding-bottom: 90px;
    margin-bottom: 50px;
    font-size: 35px;
    background-image: linear-gradient(lightgray, white);
}

.header #counter, .header #questionCounter{
    display: inline;
}

#counter{
    float: left;
    margin-left: 20px;
    color: crimson;
}

#questionCounter{
    float: right;
    margin-right: 20px;
}